@use '@styles/mixins';

.modal {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.103);
		backdrop-filter: blur(12px);
		z-index: 0;
	}
}

.container {
	display: flex;
	flex-direction: column;
	gap: 5px;
	min-width: 400px;
	// padding: 1rem;

	background-color: var(--background);
	border: 1px;
	border-radius: var(--border-radius);

	z-index: 1;
	// threat === low
	border-color: var(--c-green);
	box-shadow: 0 0 5px var(--c-green), 0 0 10px var(--c-green);

	.card_head {
		border-bottom: 1px solid var(--c-green);
		padding: 1rem;
	}

	.card_title {
		color: var(--c-green);
	}

	@include mixins.trn;
}

.critical {
	border-color: var(--c-critical);
	box-shadow: 0 0 5px var(--c-critical), 0 0 10px var(--c-critical);

	.card_head {
		border-bottom: 0.5px solid var(--c-critical);
	}
	.card_title {
		color: var(--c-critical);
	}

	.threat {
		color: var(--c-critical);
	}

	.card_content {
		border-bottom: 0.5px solid var(--c-critical);
	}
}

.card_head {
	display: flex;
	justify-content: space-between;
}

.card_title {
	font-size: 24px;
	text-transform: uppercase;
}

.card_threat {
	padding: 1px 5px;
	border-radius: 0.5rem;
	text-transform: uppercase;
}

.card_content {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem 1.5rem;

	color: var(--text-blue);

	border-bottom: 0.5px solid var(--c-green);
}

.card_row {
	display: flex;
	justify-content: space-between;
}

.label {
	text-transform: capitalize;
	color: var(--text-blue);
}

.info_text {
	text-transform: capitalize;
	color: var(--c-cyan);
}

.threat {
	text-transform: uppercase;
	color: var(--c-green);
}

.card_bottom {
	display: flex;
	justify-content: flex-end;
	gap: 0.5rem;
	padding: 1rem;
}
