.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
	* {
		z-index: 1;
		color: #ffffff;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--background);
		filter: blur(1.5);
		z-index: 0;
	}
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}

.text {
	color: var(--text-blue);
	font-size: 24px;
}

.loader {
	width: 45px;
	height: 45px;
	border: 7px solid var(--text-blue);
	border-bottom-color: var(--c-cyan);
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
